# Ignora todo dentro de generated/
generated/**

# Excepto el marcador para mantener la carpeta en el repo
!generated/.gitkeep
# Ignora todo dentro de generated/
generated/**

# Excepto el marcador para mantener la carpeta en el repo
!generated/.gitkeep
